@import "tailwindcss";

:root {
  /* Cores para o modo Light */
  --background: #f9fafb;
  /* zinc-50 */
  --foreground: #111827;
  /* zinc-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Cores para o modo Dark */
    --background: #000000;
    --foreground: #f9fafb;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}